Package: com.colecabral.musicalbumtitles
Name: MusicAlbumTitles
Version: 0.0.1
Architecture: iphoneos-arm
Description: Replace artist with album name now playing music.
Maintainer: cole cabral
Author: cole cabral
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
